
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}


.bookings {
    margin-top: 30px;
}


.booking {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.booking h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.booking p {
    margin-bottom: 8px;
}
