/* Add this CSS to your styles.css file or within a <style> tag in your HTML file */

.content {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
    flex: 1;
}

.profile-user-img {
    border-radius: 50%;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #6c757d;
}

.card-header {
   background-color: #f8f9fa; 
   border-bottom: 1px solid #ccc; 
   font-size: larger; 
   font-weight:bold;
   flex: 1;
}
.button{
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 2px;
    content: fit;
    cursor: pointer;
    width: 45%
}