.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}
h2{
    font-weight: bold;
}
.alert {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: itallic;
}

input[type="file"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
